## Yearly Period

In [1]:
import pandas as pd

y = pd.Period('2021')
y

Period('2021', 'A-DEC')

In [2]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_add_offset',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [3]:
y.start_time

Timestamp('2021-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2021-12-31 23:59:59.999999999')

In [5]:
y.is_leap_year

False

## Monthly Period

In [6]:
m = pd.Period('2021-12')
m

Period('2021-12', 'M')

In [7]:
m = pd.Period('2021-12', freq='M')
m

Period('2021-12', 'M')

In [8]:
m.start_time

Timestamp('2021-12-01 00:00:00')

In [9]:
m.end_time

Timestamp('2021-12-31 23:59:59.999999999')

In [10]:
m+1

Period('2022-01', 'M')

## Daily Period

In [11]:
d = pd.Period('2021-02-28', freq='D')
d

Period('2021-02-28', 'D')

In [12]:
d = pd.Period('2021-02-28')
d

Period('2021-02-28', 'D')

In [13]:
d.start_time

Timestamp('2021-02-28 00:00:00')

In [14]:
d.end_time

Timestamp('2021-02-28 23:59:59.999999999')

In [15]:
d+1

Period('2021-03-01', 'D')

## Hourly Period

In [16]:
h = pd.Period('2021-08-15 23:00:00', freq='H')
h

Period('2021-08-15 23:00', 'H')

In [17]:
h+1

Period('2021-08-16 00:00', 'H')

### Achieve same results using pandas offsets hour

In [18]:
h + pd.offsets.Hour(1)

Period('2021-08-16 00:00', 'H')

## Quarterly Period

In [19]:
q1 = pd.Period('2021Q1')
q1

Period('2021Q1', 'Q-DEC')

In [20]:
q1.start_time

Timestamp('2021-01-01 00:00:00')

In [21]:
q1.end_time

Timestamp('2021-03-31 23:59:59.999999999')

In [22]:
q1 = pd.Period('2021Q1', freq='Q-JAN')
q1

Period('2021Q1', 'Q-JAN')

In [23]:
q1.start_time

Timestamp('2020-02-01 00:00:00')

In [24]:
q1.end_time

Timestamp('2020-04-30 23:59:59.999999999')

In [25]:
q2 = pd.Period('2022Q2', freq='Q-JAN')
q2

Period('2022Q2', 'Q-JAN')

In [26]:
q2 - q1

## Weekly Period

In [27]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [28]:
w = pd.Period('2017-07-05',freq='W-SAT')
w

Period('2017-07-02/2017-07-08', 'W-SAT')

In [29]:
w-1

Period('2017-06-25/2017-07-01', 'W-SAT')

## PeriodIndex and period_range

In [30]:
r = pd.period_range('2011', '2017', freq='Q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

#### Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017

In [31]:
r = pd.period_range('2011', '2017', freq='Q-JAN')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [32]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [33]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [34]:
idx = pd.period_range('2011', periods=10, freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [35]:
import numpy as np

ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -0.769047
2012Q1   -2.084711
2012Q2    0.021429
2012Q3   -0.577769
2012Q4    2.269613
2013Q1    0.596450
2013Q2    2.622817
2013Q3    1.426063
2013Q4   -0.165458
2014Q1    1.075275
Freq: Q-JAN, dtype: float64

In [36]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

### Partial Indexing

In [37]:
ps['2011']

2011Q4   -0.769047
2012Q1   -2.084711
2012Q2    0.021429
2012Q3   -0.577769
2012Q4    2.269613
Freq: Q-JAN, dtype: float64

In [38]:
ps['2011':'2013']

2011Q4   -0.769047
2012Q1   -2.084711
2012Q2    0.021429
2012Q3   -0.577769
2012Q4    2.269613
2013Q1    0.596450
2013Q2    2.622817
2013Q3    1.426063
2013Q4   -0.165458
2014Q1    1.075275
Freq: Q-JAN, dtype: float64

### Converting between representations

In [39]:
pst = ps.to_timestamp()
pst

2010-11-01   -0.769047
2011-02-01   -2.084711
2011-05-01    0.021429
2011-08-01   -0.577769
2011-11-01    2.269613
2012-02-01    0.596450
2012-05-01    2.622817
2012-08-01    1.426063
2012-11-01   -0.165458
2013-02-01    1.075275
Freq: QS-NOV, dtype: float64

In [40]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [41]:
ps = pst.to_period()
ps

2010Q4   -0.769047
2011Q1   -2.084711
2011Q2    0.021429
2011Q3   -0.577769
2011Q4    2.269613
2012Q1    0.596450
2012Q2    2.622817
2012Q3    1.426063
2012Q4   -0.165458
2013Q1    1.075275
Freq: Q-DEC, dtype: float64

In [42]:
ps.index

PeriodIndex(['2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1',
             '2012Q2', '2012Q3', '2012Q4', '2013Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

### Processing Wal Mart's Financials

In [43]:
import pandas as pd  

df = pd.read_csv("data/wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [44]:
df.set_index('Line Item', inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [45]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [46]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [47]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')

In [48]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [49]:
df['Start Date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [50]:
df['End Date']=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999