In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("data/weather_data1.csv")
df

In [ ]:
new_df = df.replace('-99999', np.NaN)
new_df

In [ ]:
new_df = df.replace(['-99999', '-88888'], np.NaN)
new_df

In [ ]:
new_df = df.replace({
    'temperature': '-99999',
    'windspeed': '-99999',
    'event' : '0'
    
}, np.NaN)

new_df

In [ ]:
new_df = df.replace(['-99999', 'No Event'], [np.NaN, 'Sunny'])
new_df

In [ ]:
new_df = df.replace({
    '-99999': np.NaN,
    'No Event': "Sunny"
})

new_df

In [ ]:
new_df = df.replace('[A-Za-z]', '', regex=True)
new_df

In [ ]:
new_df = df.replace({'temperature':'[A-Za-z]', 'windspeed':'[a-z]'}, '', regex=True)
new_df

In [ ]:
df = pd.DataFrame({
    'score': ['exceptional','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
df

In [ ]:
df.replace(['poor', 'average', 'good', 'exceptional'], [1,2,3,4])