In [7]:
# csv Read

import pandas as pd
df = pd.read_csv('data/stock_data.csv')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [ ]:
df = pd.read_csv('data/stock_data.csv', skiprows=1)
df

In [ ]:
df = pd.read_csv('data/stock_data.csv', header=1)  
df

In [ ]:
df = pd.read_csv('data/stock_data.csv', header=None)
df

In [ ]:
df = pd.read_csv('data/stock_data.csv', header=None, names=['Tickers', 'Eps', 'Revenue', 'Price', 'People'])
df

In [ ]:
df = pd.read_csv('data/stock_data.csv', nrows=3)
df

In [ ]:
df = pd.read_csv('data/stock_data.csv', na_values=["not available", "n.a."])
df

In [ ]:
df = pd.read_csv('data/stock_data.csv', na_values={ 
    'eps' : ['not available', 'n.a.'], 
    'revenue' : ['not available', 'n.a.', -1], 
    'people' : ['not available', 'n.a.']
})
df

In [2]:
# csv Write

df.to_csv('data/new.csv')

In [3]:
df.to_csv('data/new.csv', index=False)

In [4]:
df.to_csv('data/new.csv', header=False)

In [5]:
df.to_csv('data/new.csv', columns=['tickers', 'price'])

In [9]:
# excel Read

df = pd.read_excel("data/stock_data.xlsx", "Sheet1")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [11]:
def convert_people_cell(cell):
    if cell == "n.a.": 
        return "sam walton"
    return cell

def convert_eps_cell(cell):
    if cell == "not available": 
        return None
    return cell

df = pd.read_excel("data/stock_data.xlsx", "Sheet1", converters = {
    'people' : convert_people_cell, 
    'eps' : convert_eps_cell
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [12]:
# excel Write

df.to_excel("data/new.xlsx", sheet_name="stock1")

In [13]:
df.to_excel("data/new.xlsx", sheet_name="stock1", startrow=1, startcol=2)

In [14]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})