In [1]:
import pandas as pd

df = pd.read_csv('data/aapl_no_dates.csv')
df.head(10)

     Open    High     Low   Close    Volume
0  153.17  153.33  152.22  153.18  16404088
1  153.58  155.45  152.89  155.45  27770715
2  154.34  154.45  153.46  153.93  25331662
3  153.90  155.81  153.78  154.45  26624926
4  155.02  155.98  154.48  155.37  21069647
5  155.25  155.54  154.40  154.99  21250798
6  155.19  155.19  146.02  148.98  64882657
7  145.74  146.09  142.51  145.42  72307330
8  147.16  147.45  145.15  146.59  34165445
9  147.50  147.50  143.84  145.16  31531232

In [2]:
rng = pd.date_range(start='6/1/2016', end='6/30/2016', freq='B')
rng

DatetimeIndex(['2016-06-01', '2016-06-02', '2016-06-03', '2016-06-06',
               '2016-06-07', '2016-06-08', '2016-06-09', '2016-06-10',
               '2016-06-13', '2016-06-14', '2016-06-15', '2016-06-16',
               '2016-06-17', '2016-06-20', '2016-06-21', '2016-06-22',
               '2016-06-23', '2016-06-24', '2016-06-27', '2016-06-28',
               '2016-06-29', '2016-06-30'],
              dtype='datetime64[ns]', freq='B')

In [3]:
df.set_index(rng, inplace=True)
df.head()

              Open    High     Low   Close    Volume
2016-06-01  153.17  153.33  152.22  153.18  16404088
2016-06-02  153.58  155.45  152.89  155.45  27770715
2016-06-03  154.34  154.45  153.46  153.93  25331662
2016-06-06  153.90  155.81  153.78  154.45  26624926
2016-06-07  155.02  155.98  154.48  155.37  21069647

In [8]:
# Finding missing dates from datetimeindex
rng2 = pd.date_range(start="6/1/2016",end="6/30/2016",freq='D')
daily_index

DatetimeIndex(['2016-06-01', '2016-06-02', '2016-06-03', '2016-06-04',
               '2016-06-05', '2016-06-06', '2016-06-07', '2016-06-08',
               '2016-06-09', '2016-06-10', '2016-06-11', '2016-06-12',
               '2016-06-13', '2016-06-14', '2016-06-15', '2016-06-16',
               '2016-06-17', '2016-06-18', '2016-06-19', '2016-06-20',
               '2016-06-21', '2016-06-22', '2016-06-23', '2016-06-24',
               '2016-06-25', '2016-06-26', '2016-06-27', '2016-06-28',
               '2016-06-29', '2016-06-30'],
              dtype='datetime64[ns]', freq='D')

In [9]:
rng2.difference(df.index)

DatetimeIndex(['2016-06-04', '2016-06-05', '2016-06-11', '2016-06-12',
               '2016-06-18', '2016-06-19', '2016-06-25', '2016-06-26'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
df.asfreq('D', method='pad')

In [ ]:
df.asfreq('W', method='pad')

In [ ]:
df.asfreq('H', method='pad')

In [ ]:
rng = pd.date_range(start='6/1/2016', periods=15, freq='B')
rng

In [24]:
import numpy as np
rand_num = np.random.randint(1, 10, len(rng))
rand_num

array([6, 3, 8, 7, 8, 2, 6, 8, 3, 4, 4, 4, 3, 2, 3, 7, 7, 4, 8, 9, 1, 6])

In [25]:
ts = pd.Series(rand_num, index=rng)
ts

2016-06-01    6
2016-06-02    3
2016-06-03    8
2016-06-06    7
2016-06-07    8
2016-06-08    2
2016-06-09    6
2016-06-10    8
2016-06-13    3
2016-06-14    4
2016-06-15    4
2016-06-16    4
2016-06-17    3
2016-06-20    2
2016-06-21    3
2016-06-22    7
2016-06-23    7
2016-06-24    4
2016-06-27    8
2016-06-28    9
2016-06-29    1
2016-06-30    6
Freq: B, dtype: int32