In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('data/mini_data.csv')
df

  Profession   Age   Salary Purchased
0     Doctor  44.0  72000.0        No
1     Lawyer  27.0  48000.0       Yes
2     Banker  30.0  54000.0        No
3     Lawyer  38.0  61000.0        No
4     Banker  40.0      NaN       Yes
5     Doctor  35.0  58000.0       Yes
6     Lawyer   NaN  52000.0        No
7     Doctor  48.0  79000.0       Yes
8     Banker  50.0  83000.0        No
9     Doctor  37.0  67000.0       Yes

In [4]:
X = df.iloc[ : , :3 ]
print(X)

  Profession   Age   Salary
0     Doctor  44.0  72000.0
1     Lawyer  27.0  48000.0
2     Banker  30.0  54000.0
3     Lawyer  38.0  61000.0
4     Banker  40.0      NaN
5     Doctor  35.0  58000.0
6     Lawyer   NaN  52000.0
7     Doctor  48.0  79000.0
8     Banker  50.0  83000.0
9     Doctor  37.0  67000.0

In [5]:
X = df.iloc[ : , :3 ].values
print(X)

[['Doctor' 44.0 72000.0]
 ['Lawyer' 27.0 48000.0]
 ['Banker' 30.0 54000.0]
 ['Lawyer' 38.0 61000.0]
 ['Banker' 40.0 nan]
 ['Doctor' 35.0 58000.0]
 ['Lawyer' nan 52000.0]
 ['Doctor' 48.0 79000.0]
 ['Banker' 50.0 83000.0]
 ['Doctor' 37.0 67000.0]]

In [6]:
X = df.iloc[ : , :-1 ].values
print(X)

[['Doctor' 44.0 72000.0]
 ['Lawyer' 27.0 48000.0]
 ['Banker' 30.0 54000.0]
 ['Lawyer' 38.0 61000.0]
 ['Banker' 40.0 nan]
 ['Doctor' 35.0 58000.0]
 ['Lawyer' nan 52000.0]
 ['Doctor' 48.0 79000.0]
 ['Banker' 50.0 83000.0]
 ['Doctor' 37.0 67000.0]]

In [8]:
Y = df.iloc[ : , 3 ].values
print(Y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [9]:
Y = df.iloc[ : , -1 ].values
print(Y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']